<div class="container">
    <div class="inner">
        <h1 class="title">Mint</h1>
        <!-- <dsrv-input (value)="getAmount($event)" label="Near" balance="{{balance()}}" connect="{{connected()}}"> -->
        <!-- </dsrv-input> -->
        <!-- <dsrv-btn (clicked)="tokenize()" label="Swap Near for yNear"></dsrv-btn> -->
        <ysc-text>Amount yUSDA</ysc-text>
        <ysc-text>Amount yUSDB</ysc-text>
        <ysc-text>Amount yUSDC</ysc-text>
        <ysc-btn >Mint</ysc-btn>
    </div>
</div>